container_commands:
  01_migrate:
    command: "django-admin.py migrate_schemas --shared"
    command: "django-admin.py shell < startup_script.py"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: awsdeploytest.settings
    SERVER_DOMAIN_URL: django-env.x3xttd26fv.us-east-1.elasticbeanstalk.com